nav{
    height: 80px;
    display: flex;
    align-items: center;
}
nav .container{
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 40px;
}
nav .logo img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}
nav ul li a{
    padding: 10px 15px;
    height: 40px;
}
nav ul li a:hover, 
nav ul li a.active{
    background-color: rgba(254, 107, 139, .3);
    border-radius: 4px;
    color: #fff;
}
.hero-section{
    display: flex;
    justify-content: center;
    height: calc(100vh - 125px);
    flex-direction: column;
    align-items: center;
}
.hero-section img{
    width: 150px;
}
.hero-section h1{
    color: #ff8e53;
    margin-bottom: 0;
}
.hero-section h3{
    margin-top: 0;
    letter-spacing: 1px;
    color: rgba(254, 107, 139, .7);
    text-transform: uppercase;
    font-size: 14px;
}
.live-chart{
    background-color: rgba(255, 142, 83, .3);
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}
.live-chart .container{
    justify-content: space-between;
    align-items: center;
}
.live-chart ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}
.live-chart ul li{
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.live-chart ul li span{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
}
.live-chart ul li small{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.live-chart ul li:first-child{ 
    background: rgba(254, 107, 139, .2);
}
.live-chart ul li:nth-child(2){ 
    background: rgba(254, 107, 139, .4);
}
.live-chart ul li:nth-child(3){ 
    background: rgba(254, 107, 139, .6);
}
.live-chart ul li:nth-child(4){ 
    background: rgba(254, 107, 139, .8);
}
.live-chart ul li:last-child{ 
    background: rgba(254, 107, 139, 1);
}
.content{
    padding: 3rem 0;
}
.content .container{
    flex-direction: column;
}
.content .container h1{
    color: #ff8e53;
    margin-bottom: 0;
}
.content .container p{
    color: rgba(254, 107, 139, .7);
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
}
.content .container.flex-content{
    flex-direction: row;
}
.content-left{
    width: 50%;
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 45%;
}
.mb-2{
    margin-bottom: 2rem;
}
.flex-column{
    flex-direction: column;
}
.d-flex{
    display: flex;
}
.mt-1{
    margin-top: 1rem;
}
.text-orange{
    color: #ff8e53;
}
.text-pink{
    color: rgba(254, 107, 139, .7);
}
.content .container ul{
    color: rgba(254, 107, 139, .7);
    font-size: 14px;
    line-height: 26px;
    margin-top: 0;
}
.background-one{
    background-color: rgba(255, 142, 83, .4);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 280px;
}
.background-two{
    background-color: rgba(255, 142, 83, .6);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 280px;
}
.background-three{
    background-color: rgba(255, 142, 83, .8);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 280px;
}
.background-four{
    background-color: rgba(255, 142, 83, 1);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 280px;
}
.steps{
    display: flex;
    margin-bottom: 2.5rem;
}
.steps .background{
    margin-right: 2rem;
}
.steps .background:last-child{
    margin-right: 0;
}
.steps .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 2rem;
}
.steps .head span{
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8e53;
    border-radius: 50%;
    font-size: 17px;
    margin-bottom: 3px;
}
.steps .body{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    text-align: center;
}
.steps .body svg{
    height: 60px;
    margin-bottom: 1rem;
}
.timeline{
    position: relative;
    margin-bottom: 3rem;
}
.timeline h1{
    color: #ff8e53;
    margin-bottom: 0;
}
.timeline-ul{
    list-style: none;
    padding-left: 0;
    position: relative;
    text-align: center;
    margin-top: 2rem;
}
.timeline-ul:before {
    border-right: 1px solid #fe6b8b;
    border-right-style: dashed;
    bottom: 0;
    content: " ";
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 3px;
}
.timeline-ul > li {
    margin-bottom: 20px;
    position: relative;
    display: flex;
}
.timeline-ul > li > .timeline-badge {
    border-radius: 50%;
    color: #C5C7C5;
    font-size: 40px;
    height: 50px;
    left: 50%;
    line-height: 40px;
    margin-left: -23px;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-ul > li > .timeline-panel {
    border-radius: 4px;
    float: left;
    padding: 20px;
    position: relative;
    width: 41%;
    text-align: left;
}
.timeline-ul > li > .timeline-panel:before {
    border-style: solid;
    border-width: 15px 0 15px 15px;
    content: " ";
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 26px;
}
.timeline-ul .head{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}
.timeline-ul .head span {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8e53;
    border-radius: 50%;
    font-size: 17px;
    margin-bottom: 3px;
    margin-right: 10px;
}
.timeline_margin {
    margin-top: -70px;
}
.timeline-ul > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline-ul > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline-ul > li.timeline-inverted > .timeline-panel{
    float: right;
}
.timeline-ul > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline-ul > li.timeline-inverted{
    justify-content: flex-end;
}
.timeline-ul > li > .timeline-panel-1 {
    background-color: rgba(254, 107, 139, .4);
}
.timeline-ul > li > .timeline-panel-1:before {
    border-color: rgba(0, 0, 0, 0) rgba(254, 107, 139, .4);
}
.timeline-ul > li > .timeline-panel-2 {
    background-color: rgba(255, 142, 83, .4);
}
.timeline-ul > li > .timeline-panel-2:before {
    border-color: rgba(0, 0, 0, 0) rgba(255, 142, 83, .4);
}
.timeline-ul > li > .timeline-panel-3 {
    background-color: rgba(254, 107, 139, .6);
}
.timeline-ul > li > .timeline-panel-3:before {
    border-color: rgba(0, 0, 0, 0) rgba(254, 107, 139, .6);
}
.timeline-ul > li > .timeline-panel-4 {
    background-color: rgba(255, 142, 83, .6);
}
.timeline-ul > li > .timeline-panel-4:before {
    border-color: rgba(0, 0, 0, 0) rgba(255, 142, 83, .6);
}
.timeline-ul > li > .timeline-panel-1 .head span {
    background-color: rgba(255, 142, 83, .4);
    color: #fff;
}
.timeline-ul > li > .timeline-panel-2 .head span {
    background-color: rgba(254, 107, 139, .4);
    color: #fff;
}
.timeline-ul > li > .timeline-panel-3 .head span {
    background-color: rgba(255, 142, 83, .6);
    color: #fff;
}
.timeline-ul > li > .timeline-panel-4 .head span {
    background-color: rgba(254, 107, 139, .6);
    color: #fff;
}
.timeline-ul > li:last-child{
    margin-bottom: 0;
}
.timeline-ul > li > .timeline-badge-1, 
.timeline-ul > li > .timeline-badge-3{
    background-color: rgba(255, 142, 83, 1);
    color: #fff;
}
.timeline-ul > li > .timeline-badge-2, 
.timeline-ul > li > .timeline-badge-4{
    background-color: rgba(254, 107, 139, 1);
    color: #fff;
}
.timeline-ul > li > .timeline-badge svg{
    width: 28px;
}
.timeline-ul > li > .timeline-badge-2 svg, 
.timeline-ul > li > .timeline-badge-4 svg{
    width: 23px;
}
footer .social{
    background-color: rgba(254, 107, 139, .3);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 30px;
}
footer .row-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
footer .row-1 h1{
    margin-bottom: 10px;
}
footer .row-1 p{
    text-align: center;
    margin-top: 0;
    line-height: 24px;
}
footer .row-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .row-2 a{
    margin-right: 2.5rem;
    color: #fff;
    margin-top: .7rem;
}
footer .row-2 a:last-child{
    margin-right: 0;
}
footer .row-2 svg{
    width: 30px;
}
footer .row-2 a:hover{
    transform: rotate(360deg);
    transition: all ease .5s;
}
footer .links{
    background-color: rgba(254, 107, 139, .5);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
footer .links .container{
    justify-content: space-between;
    align-items: center;
}
footer .links .container ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}
footer .links .container ul li{
    margin-left: 1.5rem;
}
footer .links .container ul li a{
    color: #ffffff;
}